<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/marked"></script>
    <link rel="stylesheet" href="style.css">
    <title>Markdown notebook</title>
</head>

<body>
    <div id="notebook">
        <div class="notebook">

            <div>
                <button v-bind:title="addButtonTitle" v-on:click="addNote">Add Note</button>
                <div @click="selectNote(note)" class="note" :class="{selected:note===selectedNote}"
                    v-for="note of notes">{{note.title}}</div>
            </div>
        </div>

        <div class="input">

            <template v-if="selectedNote">
                <div>
                    <input type="text" placeholder="note name" v-model="selectedNote.title">
                    <button @click="removeNote">delete</button>
                </div>

                <textarea class="inputText" v-model="selectedNote.content" >
                </textarea>

                <div class="markdown" v-html="previewMarked">
                </div>

            </template>

        </div>




        <script src="./notebook.js"></script>

</body>

</html>